accelerate==0.23.0
transformers==4.30.2
diffusers[torch]==0.21.2
ftfy==6.1.1
opencv-python==4.7.0.68
einops==0.6.0
pytorch-lightning==1.9.0
tensorboard==2.10.1
safetensors==0.3.1
altair==4.2.2
easygui==0.98.3
toml==0.10.2
voluptuous==0.13.1
huggingface-hub==0.15.1
open-clip-torch==2.20.0
xformers==0.0.23
streamlit==1.22.0
GPUtil==1.4.0